$Tablet: 'only screen and (min-width: 550px)';
$Desktop: 'only screen and (min-width: 1200px)';

$yellow: rgba(247, 176, 24, 1);
$yellow-hover: rgba(242, 191, 94, 0.2);
// #F2BF5E
// $yellow-hover: rgba(247, 176, 24, 0.2);
$grey-login: rgba(243, 243, 244, 1);
$grey: rgba(32, 32, 32, 0.9);
$greyButton: rgba(32, 32, 32, 1);

$grey-hover: rgba(128, 128, 128, 1)